body{

    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    flex-direction: row;
    


    
}
canvas{
    /* border: 1px solid black; */
    border-radius: 3px;
}


.information{
    margin-left: 20px;

}
